<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- IIS configuration only used when Access Management is configured as Web Application in IIS -->
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Tridion.Dxa.Example.WebApp.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <security>
        <requestFiltering removeServerHeader="true">
          <!--
          As part of the OIDC signout protocol, a query string parameter ('state') is used which contains, amongst others, the post-logout redirect URL.
          In case this post-logout redirect URL is long, this 'state' parameter may exceed the default IIS limit for query string size.
          Therefore, we specify a bit higher limit here. Do note that proxies may also have limits on query string and/or URL size.
          -->
          <requestLimits maxQueryString="4000"/>
        </requestFiltering>
      </security>
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
